{%extends 'base.html' %}

{%block title%} POST {%endblock%}

{%block content%}

    <div class="container-custom">
        <div class="row">
            <div class="col s12 m8 lg12">
                <h1>{{post.title}}</h1>
                <p>{{post.cat.title}}</p>
                <div class="text-center">
                    <img src="/media/{{post.image}}" class="responsive-img" style="width:50%; height: 40%; " alt="">
                </div>
                
                <br>
                <p> {{post.content|safe}} </p>
            </div>
        </div>
    </div>
   <div style="margin: 5px ;">
       <form method="POST">{% csrf_token %}
           <div style="background-color:white">
            {{comment_form.as_table}}
           </div>
           <tr>
               <td>
                   <input type="submit" class="btn btn-primary" value="comment" id="submit-btn" style="margin: 5px;"/>
               </td>
           </tr>
        </table>
           </form>
       </form>
   </div>

   <div  style="display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    margin:10px;

    "> 
        {% for comment in comments.all %} 
         <div style="border-bottom:1px solid black; background-color:white">
             {{comment.comment}}
         </div>
         {% endfor %}
   </div>

{%endblock%}